<div class="wrapper">
  <form class="form"
    [formGroup]="myForm"
    (ngSubmit) = "onSubmit()">

      <header class="head-form">
        <h2 class="h2" [ngStyle]="{'padding': '15px'}" >Log In</h2>
        <p class="p" >login here using your username and password</p>
      </header>

      <br>

      <div class="field-set">
          <input formControlName="email"
             class="form-input"
             type="text"
             placeholder="email:"
             [ngClass]="{invalid: myForm.get('email')?.invalid&&myForm.get('email')?.touched}"
             required>
            <span class = "helper-text red-text" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
              <span *ngIf="myForm.get('email')?.getError('required')"> Заполните поле Email</span>
              <span *ngIf="myForm.get('email')?.getError('email')"> Введите корректный Email </span>
            </span>

          <br>

          <input formControlName="password"
                 class="form-input" type="password"
                 placeholder="Password"
                 name="password"
                 [ngClass]="{invalid: myForm.get('password')?.invalid&&myForm.get('password')?.touched}"
                 required>
          <span class = "helper-text red-text" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
            <span *ngIf="myForm.get('password')?.getError('required')"> This field cannot be empty </span>
            <span *ngIf="myForm.get('password')?.getError('minlength')&&myForm.get('password')?.getError('minlength').requiredLength"> Пароль не может быть больше
              {{myForm.get('password')?.getError('minlength').requiredLength}} symbols! </span>
          </span>

          <br>

          <button type ="submit"
                  class="log-in"
                  [disabled]="myForm.invalid ||myForm.disabled">
            Log In
          </button>
        </div>
  </form>

</div>
