$main-font: Arial,Helvetica,sans-serif;
$coffee-color: #fff6f2;
$poppins-extralight-font: poppins-extralight,poppins,sans-serif;
$poppins-semibold-font: poppins-semibold,poppins,sans-serif;
.column-wrapper {
  background-color: white;
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 6%;
  .shop-title {
    font-family: $main-font;
    text-align: center;
    font-weight: 700;
    margin: 20px;
    padding: 70px;
    font-size: 40px;
    line-height: 35px;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  .categories-page {
    margin: 15px;
    width: 18%;
    height: auto;
}
}
