$main-font: Arial,Helvetica,sans-serif;
$poppins-extralight-font: poppins-extralight,poppins,sans-serif;
$poppins-semibold-font: poppins-semibold,poppins,sans-serif;
.wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: nowrap;
  background-color: white;
  .categories-flex {
    margin: 15px;
    margin-left: 50px;
    justify-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    height: auto;
    background-color: white;
    .categories-title{
      font-family: $poppins-semibold-font;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    hr{
      width: 70%;
      color: black;
    }
    .block {
      border-right: 1px solid black;
      .default-category-button {
          background-color: #ffffff;
          font-family: $poppins-semibold-font;
          font-size: 15px;
          margin: 8px;
          border: none;
          cursor: pointer;
          color: black;
          &:hover {
              color: darkgrey;
          }
      }
    }
  }
}

