<div class="wrapper">
  <div class="categories-flex">
    <p class="categories-title">Categories</p>
    <hr>
    <div *ngFor="let category of categories| async ; let i = index" class="block">
      <div class="default-category-button"
           (click)="changeCategory(i)">
        <div class="default-category-button"
             [ngStyle]="(category._id == updatedCategoryId) ? {'color': '#e3ae25'}: {'color':'black'}">
          {{category.name}}
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let category of categories| async ; let i = index">
  <app-form *ngIf="currentCategory==i"
            (categoryUpdate)="onCategoryUpdate()"
            (categoryDelete)="onCategoryDelete()"
            [categoryName]="category.name"
            [categoryId]="category._id">
  </app-form>
</div>
</div>

