.name{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    text-decoration-style: initial;
    font-style: italic;
    color: #ffffff
}
/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    box-sizing: border-box;
}
/* End Global rules */
/* Start body rules */
body {
    background-image: linear-gradient(-225deg, #c7a6a6 0%, rgba(255, 255, 255, 0.98) 100%);
    background-image: linear-gradient(to top, #c7a6a6 0%, rgba(244, 226, 255, 0.98) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    /*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
}
.input-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(0, 0%, 0%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #c7a6a6 50%, rgba(245, 218, 218, 0.98) 50%);
}
form .con {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px
}
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #212121;
}
header p {letter-spacing: 0.05em;}

.input-item {
    background: #fff;
    color: #131313;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 5px 5px 5px;
}
#eye {
    background: #ffffff;
    color: #0e0e0e;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}
input[class="form-input"]{
    width: 250px;
    height: 50px;
    margin-top: 2%;
    padding: 35px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #e3e3e3;
    transition: 0.2s linear;
    border-radius: 5px;
}
input[id="txt-input"] {
    width: 250px;
    padding: 7px;
    border-radius: 5px;
}
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
    padding: 7px;
}

button {
    display: inline-block;
    color: #e3e3e3;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.submits {
    width: 58%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}
/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}
/*     Sign Up button  */
.sign-up {background: #e8dede;}
/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}
/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
