<div class ="wrapper">
  <div class="information-flexbox">
    <p class="contact-title">Our contacts </p>
    <p class="contacts-inf">
        Get in Touch <br>
        Our Store <br>
        Derybasivska Street 13 <br>
        Odessa, Ukraine <br>
        +380980462346<br>
        cheesypet10@gmail.com
    </p>
  </div>
  <img class="image"
       src="https://img.freepik.com/premium-photo/dogs-in-spring-clothes-two-little-chihuahua-dogs-on-bench-cute-domestic-pets-outdoors-dogs_325845-2078.jpg">
</div>

