$coffee-color: #ffd5fa;
$main-font: Arial,Helvetica,sans-serif;
$poppins-extralight-font: poppins-extralight,poppins,sans-serif;
$poppins-semibold-font: poppins-semibold,poppins,sans-serif;
.wrapper{
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 2;
  z-index: 998;
  height: 100%;
  width: 100%;
  .cart-window {
    position: absolute;
    z-index: 999;
    background-attachment: fixed;
    right: 0%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 35%;
    height: 70%;
    align-content: center;
    overflow-y: scroll;
    .cart-title {
      font-size: 30px;
      text-align: center;
      background-color: #262626;
      height: fit-content;
      color: white;
      padding: 30px;
      width: 100%;
      font-family: $poppins-semibold-font;
    }
    .empty-block{
      font-size: 30px;
      text-align: center;
      height: fit-content;
      color: black;
      padding: 30px;
      width: 100%;
      font-family: $poppins-semibold-font;
    }
    .order-flex{
      display: flex;
      flex-direction: column;
      .default-order{
        display: flex;
        flex-direction: row;
        border: 1px solid lightgrey;
        padding: 5px;
        margin: 5px;
        .img{
          width: 25%;
        }
        .inner-flex{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .name{
            font-family: $poppins-semibold-font;
            font-size: 20px;
            margin: 5px;
          }
          .price{
            font-family: $poppins-semibold-font;
            font-size: 30px;
            margin: 5%;
            font-weight: 600;
          }
          .input-group{
            display: flex;
            flex-direction: row;
            margin: 4%;
            .quantity-input{
              width: 15%;
              text-align: center;

            }
          }
        }
      }
    }
    .buy-button{
      border: 1px solid lightgrey;
      padding: 10px;
      margin: 5px;
      width: 30%;
      background-color: black;
      color: white;
      font-size: 20px;
      align-self: end;
      &:hover{
        background-color: grey;
      }
    }
  }
}
