<div class ="wrapper">
  <div class="text-wrapper">
  <p class="title"> About us </p>
  <p class="about-us-text">
    Let’s go back in time. It all started in 1795 when a spritely Thomas Jaques established himself as “Thomas Jaques: Manufacturer of Ivory, Hardwoods, Bone, and Tunbridge Ware.”

    Thomas took on his 15-year-old son, John Jaques, as an apprentice. Together, they expanded their product portfolio until John Jaques had a son himself.

    John Jaques II. He helped his father and in 1838 they established a new headquarters at Number 102 Hatton Garden, London.

    It was John Jaques II that introduced Croquet to the world in 1862, a game that went on to win us 2 medals at The Great International Exhibition.
  </p>
  </div>
  <img class="image" src="https://koshka.top/uploads/posts/2021-12/thumbs/1640199668_61-koshka-top-p-milie-kotiki-v-odezhde-63.jpg">
</div>
