$main-font: Arial,Helvetica,sans-serif;
$coffee-color: #f6e5dc;
$poppins-extralight-font: poppins-extralight,poppins,sans-serif;
$poppins-semibold-font: poppins-semibold,poppins,sans-serif;
.wrapper{
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 8%;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  .left-flexbox{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 40px;
    .title{
      font-family: $main-font;
      font-weight: 600;
      font-size: 50px;
      text-align: center;
      line-height: 50px;
      margin: 50px;
    }
      .left-image{
        width: auto;
        height:100%;
        margin: 40px;
      }
  }
  .right-image{
    width: 50%;
    height:100%;
  }
}
